.fs-6 {
    font-size: 0.8rem !important;
}

body {
    background-color: #f8fbfc;
    font-family: 'Inter', sans-serif;
}

.sidebar {
    background-color: #f8fbfc;
    border-right: 1px solid #e7f0f3;
    min-height: 100vh;
}

.sidebar .nav-link {
    color: #0d181b;
    font-weight: 500;
}

.sidebar .nav-link.active {
    background-color: #e7f0f3;
    border-radius: 8px;
}

.card-custom {
    background-color: #e7f0f3;
    border: none;
}

p {
    font-size: 8pt !important;
}


.btn-xs {
    padding: 0.15rem 0.4rem;
    font-size: 0.75rem;
    border-radius: 0.15rem;
}


.table td,
.table th {
    text-align: center;
    vertical-align: middle;
}

.text-money {
    color: #4c869a !important;
}

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.sidebar {
    position: relative;
    min-height: 100vh;
    /* ensures it fills full height */
}

.sidebar-gif {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80px;
    /* adjust as needed */
    border-radius: 8px;
    /* optional */
    pointer-events: none;
    /* so clicks pass through */
}

.list-notif:hover {
    background-color: rgba(50, 133, 119, 0.1);
}

#toastPlacement {
    min-width: 350px;
    /* Lebar standar toast agar konsisten di tengah */
}

.toast {
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    opacity: 1 !important;
    /* Mencegah transparansi saat hover/idle */
}

.toast-header {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}


.sticky-header-custom {
    position: sticky;
    top: 0px;
    /* jarak dari atas */
    z-index: 4;
    /* di atas table */
    background: white;
    /* biar gak transparan */
    padding: 5px 10px;
}
